@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "acumin-pro";
  src:
    url("https://use.typekit.net/bps5bmw.css") format("woff2"),
    url("https://use.typekit.net/bps5bmw.css") format("woff");
  font-weight: 300 400 500 600 700;
  font-style: normal italic;
}

.custom-li::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-image: url("/assets/images/icons/bullet-start-light.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to right, #2529c6, #2529c6);
  transform-origin: 0%;
}
